header {
    nav {
        .nav-link {
            &:hover {
                color: black!important;
            }
        }
        .navbar-brand {
            img {
                max-width: 250px;
            }
        }
        .navbar-collapse {
            justify-content: flex-end;
        }
        .navbar-toggler {
            border-color: rgba(0,0,0,1.1)!important;
        }
    }

}

// Убраны отступы между блоками
.wrapper {
    padding-top: 0!important;
}

.img_learnToSale {
    img {
        max-width: 600px;
        margin: 0 auto;
        display: block;
        margin-top: 100px;
        margin-bottom: 80px;
    }

}

.b-articleAboutUs__custom {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.b-articleAboutProgramm__custom {
    h2 {
        margin-top: -10px!important;
    }
    p {
        font-size: 16px;
    }
}

// Заголовки для блока "Почему клиенты выбирают нас?"
.b-hatOfOurClient {
    text-align: center;
    margin-bottom: 50px;
}

// Размер картинок для блока "Почему клиенты выбирают нас?"
.b-contantOurClient {
    .image {
        img {
            width: 80%!important;
        }
    }
}

// Иконки слайдера (вперед/назад)
.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(1);
}

// Стили для картинок слайдера
.carousel-item {
    img {
        max-width: 80%!important;
        margin: 0 auto;
    }
}

// Стили для слайдера с отзывами клиентов
.b-sliderFeedback {
    margin-top: 50px;
    #carouselExampleCaptions {
        position: relative;
        .carousel-indicators {
            bottom: -10px;
            margin-bottom: 0;
            li {
                filter: brightness(0.5);
            } 
        }
    }

    .b-buttonFeedback {
        text-decoration: none;
        margin: 50px;
        margin-left: 15%;
    }
    h2 {
        text-align: center;
        font-size: 2.75em;
        margin: 0 0 .5em 0;
    }
    .b-sliderFeedback__customStyle {
        .b-carouselContent {
            padding-left: 15%;
            padding-right: 15%; 
            img {
                max-width: 150px!important;
                max-height: 150px;
                border-radius: 80px;
                float: left;
                padding: 10px;
            }
            .b-flexContainer {
                display: contents;
                padding-left: 20px;
                font-size: 18px;
            }
        }
    }
}

// Стили для блока "Связаться с нами"
.b-contactToUs {
    display: flex;
    justify-content: space-between;
    h2 {
        margin: 0 0 0!important;
    }
    .b-socialLinks {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        .b-tg__button {
            margin: 10px;
            padding: 12px;
            text-align: center;
            text-decoration: none;
            max-width: 150px;
            display: inline-block;
            color: #ffffff;
            font-size: 17px;
            font-family: 'Roboto',Arial,sans-serif;
            line-height: 1.8;
            font-weight: 600;
            letter-spacing: 0.5px;
            border-width: 1px;
            border-radius: 30px;
            background-color: #e8691c;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
            &:hover {
                background-color: #2A68C4;
            }
        }
        .b-wp__button {
            margin: 10px;
            padding: 12px;
            text-align: center;
            text-decoration: none;
            max-width: 150px;
            display: inline-block;
            color: #ffffff;
            font-size: 17px;
            font-family: 'Roboto',Arial,sans-serif;
            line-height: 1.8;
            font-weight: 600;
            letter-spacing: 0.5px;
            border-width: 1px;
            border-radius: 30px;
            background-color: #e8691c;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
            &:hover {
                background-color: #4EBA1C;
            }
        }
    }
}

footer {
    .b-footer__mail {
        font-size: 13px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: black;
      }
    .b-footerSocialLinks {
        a {
            text-decoration: none;
        }
    }
}


// Форма обратной связи
.b-feedbackForm {
    .b-butn {
        &:focus {
            outline: none!important;
        }
    }
    .pulse {
            position: fixed;
            top: 50%;
            left: 85%;
            transform: translate(-50%, -50%);
            background: #4fbaea;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            color: #fff;
            text-align: center;
            font-size: 50px;
            z-index: 100;
            text-decoration: none;
            .fa-phone {
                display: flex;
                margin-top: 25%;
                justify-content: center
            }
            
          &:before,
          &:after {
              content: " ";
              display: block;
              position: absolute;
              border: 50%;
              border: 1px solid #4fbaea;
              left: -20px;
              right: -20px;
              top: -20px;
              bottom: -20px;
              border-radius: 50%;
              animation: animate 1.5s linear infinite;
              opacity: 0;
              backface-visibility: hidden; 
          }         
          &:after{
              animation-delay: .5s;
          }        
          @keyframes animate
          {
              0%
              {
                  transform: scale(0.5);
                  opacity: 0;
              }
              50%
              {
                  opacity: 1;
              }
              100%
              {
                  transform: scale(1.2);
                  opacity: 0;
              }
          }
    }
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 0;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 33px;
     .decor {
         h2 {
             color: lightcyan;
         }
        padding: 15px;
        border-radius: 30px;
        background: #52A3DB;
        .form-inner {
            padding: 35px!important;
            .submit {
                font-weight: 700;
                color: white;
                padding: .8em 1em calc(.8em + 3px);
                border-radius: 3px;
                background: rgb(64,199,129);
                box-shadow: 0 -3px rgb(53,167,110) inset;
                transition: 0.2s; 
                padding: 10px;
                border: none;
                margin-top: 10px;
                font: inherit;
                &:hover {
                    background: rgb(53, 167, 110); 
                    outline: none;
                }
                &:active {
                    background: rgb(33,147,90);
                    box-shadow: 0 3px rgb(33,147,90) inset;
                    outline: none;
                }
            }
        }
    } 
}

.form-inner {padding: 50px;}
.form-inner input,
.form-inner textarea {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}

.decor textarea {
    line-height: 20px!important;
  }

.form-inner input[type="submit"] {
  margin-top: 30px;
  background: #f69a73;
  border-bottom: 4px solid #d87d56;
  color: white;
  font-size: 14px;
}
.form-inner textarea {resize: none;}
.form-inner h3 {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #707981;
}        

body input[type="text"], body input[type="password"], body input[type="email"], body input[type="tel"], body select, body textarea {
    color: #5a5a5a!important;
}


@media screen and (max-width: 991px) {
    .navbar-nav {
        flex-direction: row!important;
        justify-content: flex-end;
        font-size: 1px;
        font-family: auto;
    }
}

@media  (max-width: 791px) {
    header {
        nav {
            .navbar-brand {
                img {
                    max-width: 150px;
                }
            }
        }   
    }   

    .img_learnToSale {
        img {
            max-width: 415px;
            margin-top: 45px;
        }
    
    }

    .image {
        img {
            width: 80%!important;
        }
    }

    .b-contantOurClient {
        text-align: center;
        .image {
            img {
                width: 50%!important;
                display: block;
                margin: 0 auto;
            }
        }
    }

    .b-contactToUs {
        h2 {
            font-size: 24px!important;
        }
        img {
            width: 85%;
        }
    }

    footer {
        .flex {
            display: flex!important;
            align-items: baseline!important;
        }
    }
}

@media (max-width: 564px) {
    .b-feedbackForm {
        .pulse {
            width: 70px;
            height: 70px;
            font-size: 30px;
        }
    }
    .decor {
        width: 100%;
        height: auto;
        margin: 45px auto 0;
        .form-inner {
            padding: 25px!important;
        }
        textarea {
            line-height: 25px;
          }
    }
}  

@media  (max-width: 463px) {
    body #banner {
        background-size: auto!important;
    }

    header {
        nav {
            .navbar-brand {
                img {
                    max-width: 150px;
                }
            }
        }   
    }   

    .img_learnToSale {
        img {
            max-width: 332px;
            margin-top: 45px;
        }
    
    }

    .image {
        img {
            width: 80%!important;
        }
    }

    .b-contantOurClient {
        text-align: center;
        .image {
            img {
                width: 50%!important;
                display: block;
                margin: 0 auto;
            }
        }
    }

    .b-sliderFeedback {
        h2 {
            font-size: 1.75em;
        }
        .b-sliderFeedback__customStyle {
            .b-carouselContent {
                img {
                    float: none;
                }
            }
        }
    }

    .b-contactToUs {
        h2 {
            font-size: 24px!important;
        }
        img {
            width: 85%;
        }
    }
}
