header nav .nav-link:hover {
  color: black !important;
}

header nav .navbar-brand img {
  max-width: 250px;
}

header nav .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav .navbar-toggler {
  border-color: black !important;
}

.wrapper {
  padding-top: 0 !important;
}

.img_learnToSale img {
  max-width: 600px;
  margin: 0 auto;
  display: block;
  margin-top: 100px;
  margin-bottom: 80px;
}

.b-articleAboutUs__custom {
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.b-articleAboutProgramm__custom h2 {
  margin-top: -10px !important;
}

.b-articleAboutProgramm__custom p {
  font-size: 16px;
}

.b-hatOfOurClient {
  text-align: center;
  margin-bottom: 50px;
}

.b-contantOurClient .image img {
  width: 80% !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.carousel-item img {
  max-width: 80% !important;
  margin: 0 auto;
}

.b-sliderFeedback {
  margin-top: 50px;
}

.b-sliderFeedback #carouselExampleCaptions {
  position: relative;
}

.b-sliderFeedback #carouselExampleCaptions .carousel-indicators {
  bottom: -10px;
  margin-bottom: 0;
}

.b-sliderFeedback #carouselExampleCaptions .carousel-indicators li {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.b-sliderFeedback .b-buttonFeedback {
  text-decoration: none;
  margin: 50px;
  margin-left: 15%;
}

.b-sliderFeedback h2 {
  text-align: center;
  font-size: 2.75em;
  margin: 0 0 .5em 0;
}

.b-sliderFeedback .b-sliderFeedback__customStyle .b-carouselContent {
  padding-left: 15%;
  padding-right: 15%;
}

.b-sliderFeedback .b-sliderFeedback__customStyle .b-carouselContent img {
  max-width: 150px !important;
  max-height: 150px;
  border-radius: 80px;
  float: left;
  padding: 10px;
}

.b-sliderFeedback .b-sliderFeedback__customStyle .b-carouselContent .b-flexContainer {
  display: contents;
  padding-left: 20px;
  font-size: 18px;
}

.b-contactToUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.b-contactToUs h2 {
  margin: 0 0 0 !important;
}

.b-contactToUs .b-socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

.b-contactToUs .b-socialLinks .b-tg__button {
  margin: 10px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  max-width: 150px;
  display: inline-block;
  color: #ffffff;
  font-size: 17px;
  font-family: 'Roboto',Arial,sans-serif;
  line-height: 1.8;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-width: 1px;
  border-radius: 30px;
  background-color: #e8691c;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.b-contactToUs .b-socialLinks .b-tg__button:hover {
  background-color: #2A68C4;
}

.b-contactToUs .b-socialLinks .b-wp__button {
  margin: 10px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  max-width: 150px;
  display: inline-block;
  color: #ffffff;
  font-size: 17px;
  font-family: 'Roboto',Arial,sans-serif;
  line-height: 1.8;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-width: 1px;
  border-radius: 30px;
  background-color: #e8691c;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.b-contactToUs .b-socialLinks .b-wp__button:hover {
  background-color: #4EBA1C;
}

footer .b-footer__mail {
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
}

footer .b-footerSocialLinks a {
  text-decoration: none;
}

.b-feedbackForm .b-butn:focus {
  outline: none !important;
}

.b-feedbackForm .pulse {
  position: fixed;
  top: 50%;
  left: 85%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #4fbaea;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #fff;
  text-align: center;
  font-size: 50px;
  z-index: 100;
  text-decoration: none;
}

.b-feedbackForm .pulse .fa-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.b-feedbackForm .pulse:before, .b-feedbackForm .pulse:after {
  content: " ";
  display: block;
  position: absolute;
  border: 50%;
  border: 1px solid #4fbaea;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  -webkit-animation: animate 1.5s linear infinite;
          animation: animate 1.5s linear infinite;
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.b-feedbackForm .pulse:after {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 0;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  border-radius: 33px;
}

.white-popup .decor {
  padding: 15px;
  border-radius: 30px;
  background: #52A3DB;
}

.white-popup .decor h2 {
  color: lightcyan;
}

.white-popup .decor .form-inner {
  padding: 35px !important;
}

.white-popup .decor .form-inner .submit {
  font-weight: 700;
  color: white;
  padding: 0.8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: #40c781;
  -webkit-box-shadow: 0 -3px #35a76e inset;
          box-shadow: 0 -3px #35a76e inset;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 10px;
  border: none;
  margin-top: 10px;
  font: inherit;
}

.white-popup .decor .form-inner .submit:hover {
  background: #35a76e;
  outline: none;
}

.white-popup .decor .form-inner .submit:active {
  background: #21935a;
  -webkit-box-shadow: 0 3px #21935a inset;
          box-shadow: 0 3px #21935a inset;
  outline: none;
}

.form-inner {
  padding: 50px;
}

.form-inner input,
.form-inner textarea {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}

.decor textarea {
  line-height: 20px !important;
}

.form-inner input[type="submit"] {
  margin-top: 30px;
  background: #f69a73;
  border-bottom: 4px solid #d87d56;
  color: white;
  font-size: 14px;
}

.form-inner textarea {
  resize: none;
}

.form-inner h3 {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #707981;
}

body input[type="text"], body input[type="password"], body input[type="email"], body input[type="tel"], body select, body textarea {
  color: #5a5a5a !important;
}

@media screen and (max-width: 991px) {
  .navbar-nav {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 1px;
    font-family: auto;
  }
}

@media (max-width: 791px) {
  header nav .navbar-brand img {
    max-width: 150px;
  }
  .img_learnToSale img {
    max-width: 415px;
    margin-top: 45px;
  }
  .image img {
    width: 80% !important;
  }
  .b-contantOurClient {
    text-align: center;
  }
  .b-contantOurClient .image img {
    width: 50% !important;
    display: block;
    margin: 0 auto;
  }
  .b-contactToUs h2 {
    font-size: 24px !important;
  }
  .b-contactToUs img {
    width: 85%;
  }
  footer .flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: baseline !important;
        -ms-flex-align: baseline !important;
            align-items: baseline !important;
  }
}

@media (max-width: 564px) {
  .b-feedbackForm .pulse {
    width: 70px;
    height: 70px;
    font-size: 30px;
  }
  .decor {
    width: 100%;
    height: auto;
    margin: 45px auto 0;
  }
  .decor .form-inner {
    padding: 25px !important;
  }
  .decor textarea {
    line-height: 25px;
  }
}

@media (max-width: 463px) {
  body #banner {
    background-size: auto !important;
  }
  header nav .navbar-brand img {
    max-width: 150px;
  }
  .img_learnToSale img {
    max-width: 332px;
    margin-top: 45px;
  }
  .image img {
    width: 80% !important;
  }
  .b-contantOurClient {
    text-align: center;
  }
  .b-contantOurClient .image img {
    width: 50% !important;
    display: block;
    margin: 0 auto;
  }
  .b-sliderFeedback h2 {
    font-size: 1.75em;
  }
  .b-sliderFeedback .b-sliderFeedback__customStyle .b-carouselContent img {
    float: none;
  }
  .b-contactToUs h2 {
    font-size: 24px !important;
  }
  .b-contactToUs img {
    width: 85%;
  }
}
/*# sourceMappingURL=main_inner.css.map */